$image-bg : url(assets/bg-header.jpg);


/*Globlal*/
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat:300,400,500,600');

.container-fluid {
    background-image: $image-bg;
    height: 800px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.5rem;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #8799A3; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #8799A3
}

.btn-outline-warning {
    border-radius: 50px;
    padding: 8px 35px;
}

.col-4 {
    top: 200px;
    color: #FFFFFF;
}

.display-5 {
    color: white;
    font-family: 'Leckerli One', cursive;
    font-size: 20px;
}

.display-3 .name{
    color: #0081FF;
    font-size: 30px; 
}



